/*Make parent element a flex container
 * ul - flex container 
/* Flex container properties
 * Flex-direction || Flex-wrap || Flex-flow || Justify-content || Align-items || Align-content
 * justify-content - affects main axis
 * align items - affexts cross axis
*/ 
ul {
  display: flex; /*or inline-flex*/
  flex-wrap: wrap;
  border: 1px solid red;
    padding: 0;
    list-style: none;
    background-color: #e8e8e9;
    justify-content: space-between;
    align-items: baseline;
    align-content: flex-end;
}
/* li - flex item 
 * Flex item properties: 
 * Order || Flex-grow || Flex-shrink || Flex-basis
*/
li {
  background-color: #8cacea;
    width: 100px;
      
      margin: 8px;
      padding: 4px
}