/*Make parent element a flex container
 * ul - flex container 
/* Flex container properties
 * Flex-direction || Flex-wrap || Flex-flow || Justify-content || Align-items || Align-content
 * justify-content - affects main axis
 * align items - affexts cross axis
*/ 
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
    min-height: 400px;
    min-width: 400px;
    background: #fff;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 5px 55px 50px -20px #b6b6b6; 
    width: 70%;
}
ul {
  padding: 0;
  list-style: none;
}
/* li - flex item 
 * Flex item properties: 
 * Order || Flex-grow || Flex-shrink || Flex-basis
 * align-self
*/
.twitter {
  display: flex;
  align-items: center;
  
}
.twitter__bird {
  margin-left: auto;
  margin-right: auto
}
li{
  padding: 1%;
}