html, body{
    height: 100%;
}
.parallax { 
    /* The image used */
    background-image: url("img_parallax.jpg");
    opacity: 0.8;
    /* Set a specific height */
    height: 150%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 600px) {
    .parallax {
        background-attachment: scroll;
    }
}
.content{
    position: relative;
    z-index: 2;
    color: white;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
footer{
    position: relative;
    width: 100%;
    padding: 2%;
    background: #454545;
    color:white;
    text-align: center;
}
.navbar-inverse a{
    color: white;
    text-decoration: none;
}
.navbar-inverse a:hover{
    color: white;
    text-decoration: none;
}
.small{
    font-size: 2em;
}
.big{
    font-size: 4em;
    text-transform: uppercase;
}