html, body{
    height: 100%;
}
.parallax { 
    /* The image used */
    background-image: url("img_parallax.jpg");
    opacity: 0.8;
    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
&:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6; 
  }
}
/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
.content{
    position: relative;
    z-index: 2;
    color: white;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
footer{
    position: relative;
    width: 100%;
    padding: 2%;
    background: black;
    color:white;
    text-align: center;
}