html, body{
    height: 100%;
}
.parallax { 
    /* The image used */
    background-image: url("img_parallax.jpg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
.content{
    position: relative;
    z-index: 2;
    color: white;
    font-size: 2em;
    top: 50%;
    left: 50%;
}
footer{
    position: relative;
    width: 100%;
    padding: 2%;
    background: black;
    color:white;
}